<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AliVideoDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188C8BA72295293800BEBD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188C8BBF2295293A00BEBD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188C8BCA2295293A00BEBD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
